body {
    font-family: system-ui;
    background: #ffffff;
    color: black;
    text-align: center;
    margin: 0;
    padding: 1rem;
  }
  
  .container {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
  }
  
  .header {
    text-align: center;
  }
  
  h1 {
    margin: 0;
    padding: 1rem 0;
    font-size: 2.5rem;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .documentTitle,
  .examTitle,
  .printerTitle,
  input[type="submit"] {
    margin-bottom: 1rem;
  }
  
  input[type="button"] {
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    cursor: pointer;
    font-weight: bold;
    margin-top: 2rem;
  }
  
  @media screen and (max-width: 36rem) {
    body {
      padding: 0.5rem;
    }
  
    .documentTitle,
    .examTitle,
    .printerTitle,
    input[type="submit"] {
      margin-bottom: 0.5rem;
    }
  }
  